.login-container{
    width: 100%;
    
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-container form{
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-color: #643853;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

.login-container form h1{
    font-size: 80px;
    color: #FFF;
    padding-bottom: 0px;
}

.login-container form p{
    font-size: 16px;
    margin-bottom: 70px;
    color: #FFF;

}


.login-container form button{
    margin-top: 40px;
    margin-bottom: 80px;
    max-width: 230px;
    
}

.login-container form a{
    color: #FFF;
}

.login-container .button{
    height: 35px;
    background: #FFF;
    border: 0;
    border-radius: 4px;
    color: #643853;;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2s;
    margin-top: 40px;
    margin-bottom: 80px;
    max-width: 230px;
    padding-top: 4px;
    padding-bottom: 4px;
}
