.cadastro-container{
    height: 100vh;
    padding: 16px;
    margin: 25px;
    border-radius: 16px;
    background-color: #643853;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

}

.cadastro-container h1{
    color: #FFF;
    font-size: 40px;
    margin-bottom: 20px;
}

.cadastro-container .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-container .grupo{
    display: flex;
    justify-content: space-between;
}

.cadastro-container .lados{
    width: 100%;
    min-width: 500px;
}

.cadastro-container .lados .email{
    width: 100%;
}

.cadastro-container .lados .descri{
    width: 100%;
    min-width: 550px;
    min-height: 167px;
}


.cadastro-container .content .linha{
    width: 89%;
    display: flex;
    justify-content: space-between;
}

.cadastro-container .content .lugar{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.cadastro-container .content p{
    color: #FFF;
    font-size: 20px;
    margin-top: 8px;
}

.cadastro-container .content input{
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}


.cadastro-container button{
    max-width: 380px;
    margin-top: 30px;
}

.input{
    width: 90%;
}