.itens-container{
    height: 100%;
    padding: 16px;
    margin: 25px;
    border-radius: 16px;
    background-color: #643853;
    color: #FFF;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    
}

.itens-container heather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

.itens-container heather h1{
    font-size: 35px;
    margin-left: 110px;
}

.itens-container .button{
    max-width: 200px;
    height: 40px;
    line-height: 40px;
    margin-top: 0px;
}

.itens-container .itens{
    width: 50%;
    padding: 60px;
    color: #643853;
}

.itens-container .itens .linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itens-container .itens .linha p{
    font-size: 16px;
}

.itens-container .itens .alinha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itens-container .itens .alinha button{
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 6px;
    background-color: #643853;
    color: #FFF;
}

.itens-container .itens .descricao p{
    font-size: 16px;
}

.acord{
    margin-bottom: 5%;
}