.fila-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #643853;
    color: #FFF;
}

.fila-container heather{
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
}

.fila-container heather h1{
    font-size: 35px;
}   

.fila-container .pessoas{
    width: 50%;
    padding: 60px;
    color: #643853;
}

.fila-container .pessoas .linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fila-container .pessoas .linha p{
    font-size: 16px;
}

.fila-container .pessoas .alinha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fila-container .pessoas .alinha button{
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 6px;
    background-color: #643853;
    color: #FFF;
}

.acord{
    width: 120%;
}