.pedido-container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #643853;
    color: #FFF;
}

.pedido-container heather{
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.pedido-container heather h1{
    font-size: 35px;
    margin-left: 410px;
}   