.citens-container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 26px;
    background-color: #643853;
    color: #FFF;
}


.citens-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.citens-container form h1{
    font-size: 40px;
    margin-bottom: 40px;
}



.citens-container form section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.citens-container form section div{
    margin: 15px;
    margin-bottom: 8px;
}

.citens-container form section p{
    font-size: 20px;
    margin-bottom: 8px;
}



.citens-container form section input, select, textarea{
    width: 100%;
    min-width: 400px;
    max-width: 500px;
}

.citens-container form button{
    width: 100%;
    max-width: 300px;
    height: 40px;
    background: #f0f0f5;
    border: 0;
    border-radius: 8px;
    color: #643853;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    transition: filter 0.2s;
    margin-top: 30px;
}

